.timer {
    &__container {

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}